.container {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 48px;
    color: black;
    display: flex;
    flex-direction: column;
}

.formItem {
    display: flex;
    flex-direction: column;
    margin: 16px 0 16px 0;
}