.headerComponent {
    display: flex;
    align-items: center;
}

.headerComponent > button {
    margin-left: 16px;
}

.modalSelection {
    display: flex;
    flex-direction: column;
}

.modalSubtext {
    margin-top: 16px;
    font-style: italic;
    color: rgb(255, 255, 255, .75);
}

.check > input {
    margin: 8px;
    padding: 8px;
    color: white;
}

.modalParagraphs {
    display: flex;
    flex-direction: column;
}

.modalParagraphs > p {
    margin-bottom: 16px;
}

.hrule > svg {
    width: 90vw;
}