.container {
    width: 100vw;
}

.header {
    display: flex;
    align-items: center;
    height: 50px;
}

.headerButton {
    display: flex;
    align-items: center;
}
.search {
    margin: 24px 0px;
    width: 25vw;
}

.search > input {
    width: 100%;
}

.hrule > svg {
    width: 90vw;
}

.listControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}