.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    z-index: 5;
}

.modalBody {
    width: 45vw;
    min-height: 350px;
    background-color: #1C2E41;
    margin: auto;
    border-radius: 3px;
    padding: 36px;
    margin-top: 24px;
}

.modalContent {
    margin: auto;
    padding: 24px 0px;
    height: 100%;
    min-height: 200px;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    color: #37DDC9;
}

.modalClose {
    background: none;
    border: none;
    font-family: inherit;
    font-weight: 900;
    padding: 0;
}

.modalClose > svg {
    color: white;
}

.modalAction {
    display: flex;
    justify-content: flex-end;
}

.successMessage, .loadingMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.successMessage > svg {
    color: #37DDC9;
}

.successText {
    margin-top: 24px;
    font-size: 2rem;
}

.loading {
    color: #37DDC9;
}

@keyframes colorchange {
    0% { color: #37DDC9; }
    /* 10% { color: #37DDC9; }
    15% { color: #def7f4; } */
    100% { color: #134d46; }
}

.line1 {
    animation: colorchange 1s ease infinite;
}

.line8 {
    animation: colorchange 1s .14s ease infinite;
}

.line6 {
    animation: colorchange 1s .28s ease infinite;
}

.line4 {
    animation: colorchange 1s .42s ease infinite;
}

.line2 {
    animation: colorchange 1s .56s ease infinite;
}

.line7 {
    animation: colorchange 1s .70s ease infinite;
}

.line5 {
    animation: colorchange 1s .84s ease infinite;
}

.line3 {
    animation: colorchange 1s .98s ease infinite;
}