.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 45vw;
    right: 0;
    background-color: #0D1C3B;
    overflow: hidden;
}

.content {
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 36px;
}

.header {
    height: 50%;
}

.header > img {
    object-fit: cover;
    width: 100%;
    height: 65%;
}

.headerTitle {
    color: #ff5269;
    background: rgba(133, 42, 54, 0.4);
    margin: 16px;
    padding: 16px 24px;
}

.headerTitle > p {
    font-weight: 400;
    letter-spacing: .2em;
    opacity: 75%;
    font-size: 1.2rem;
}

.text {
    padding: 0px 24px;
}

.text img {
    width: 50%;
    border: none;
    margin: 8px 0px;
}

.text p {
    margin: 8px;
}

.text h2 {
    margin: 16px 8px;
}

.text span {
    padding: 16px;
    display: flex;
    flex-direction: column;
}
.text span > img {
    width: 5%;
}