
.popoverContainer {
    position: relative;
}

.popoverContent {
    position: absolute;
    background: #1C2E41;
    width: 200px;
    border-radius: 3px;
    top: calc(100% + 5px);
    right: calc(50%);
    display: block;
    overflow: hidden;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, .3);
}

.popoverOption {
    background: none;
    border: none;
    font-family: inherit;
    font-weight: 800;
    font-size: .9rem;
    letter-spacing: .05em;
    text-align: left;
    color: #37DDC9;
    text-transform: uppercase;
    padding: 12px 24px;
    width: 100%;
}

.popoverOption:hover {
    background: rgba(55, 221, 201, .2);
}