.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 0;
  }
  
  .headingXl {
    font-size: 3rem;
    color: white;
    letter-spacing: .2rem;
    margin-right: 16px;
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    color: #37DDC9;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  
  .headingMd {
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Roboto Condensed';
    color: #37DDC9;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }

.row {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.rowAcross {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 16px;
}

.headerWButton {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
}

.buttonPrimary {
  color: #37DDC9;
  border: 1px solid #37DDC9;
}

.buttonSecondary {
  color: #F54670;
  border: 1px solid #F54670;
  margin-right: 12px;
}

.buttonPrimary, .buttonSecondary, .disabledSecondaryButton {
  padding: 12px 24px;
  text-transform: uppercase;
  background: rgba(245, 70, 112, 0);
  font-weight: 700;
  font-family: inherit;
  letter-spacing: .1em;
  max-height: 40px;
  position: relative;
  z-index: 1;
  transition: color 200ms ease-in;
}

.buttonPrimary::after, .buttonSelect::after {
  background: #37DDC9;
}

.buttonSecondary::after {
  background: #F54670;
}


.buttonPrimary::after, .buttonSecondary::after, .buttonSelect::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; 
  transform: scaleX(0);
  transition: transform 200ms ease-in;
}

.buttonPrimary:hover::after, .buttonSecondary:hover::after, .buttonSelect:hover::after {
  transform: scaleX(1);
}

.buttonPrimary:hover, .buttonSecondary:hover, .buttonSelect:hover {
  color: white;
}

.disabledSecondaryButton {
  border: 1px solid #F54670;
  color: #F54670;
  opacity: 80%;
  cursor: default;
}

.svgButton {
  background: none;
  border: none;
}

.emptyState {
  margin: auto;
  text-align: center;
  font-weight: 800;
  letter-spacing: .1em;
  padding: 200px;
}

/* checkbox styling based on tutorial from: https://moderncss.dev/pure-css-custom-checkbox-style/ */
.formControl {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1em;
  margin-bottom: 16px;
  color: white;
}

.selectContainer {
  position: relative;
  min-width: 330px;
}

.selectDropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  padding: 0px;
  width: 100%;
  background-color: #1C2E41;
  box-shadow: 1px 4px 3px 2px rgba(0, 0, 0, .4);
}

.buttonSelect {
  color: #37DDC9;
  border: 1px solid #37DDC9;
  padding: 8px 12px;
  text-transform: uppercase;
  background: rgba(245, 70, 112, 0);
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 1;
}

.buttonSelect > svg {
  margin-left: 12px;
  height: 20px;
}

.selectOptions {
  position: absolute;
  width: 100%;
}

.selectLabel {
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  color: #37DDC9;
  font-size: .9rem;
}

.selectLabel > p {
  padding: 8px 12px;
}

.selectLabel:hover {
  background-color: #2c445e;
}

.selectRadio {
  display: none;
}

