.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 0;
  }
  
  .headingXl {
    font-size: 2rem;
    font-weight: 900;
    color: white;
    line-height: 1.3;
    letter-spacing: .5rem;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }

.row {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.headerWButton {
  display: flex;
  width: 475px;
  justify-content: space-between;
  margin-bottom: 24px;
}

.darkBgButton, .whiteBgButton, .darkBgButtonDisabled, .whiteBgSecondaryButton {
  padding: 12px 24px;
  border: none;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: .1em;
}

.darkBgButton, .darkBgButtonDisabled {
  background-color: #C9384C;
}

.darkBgButtonDisabled {
  opacity:75%;
}

.whiteBgButton {
  background: rgb(2,0,36);
  background: linear-gradient(167deg, rgba(2,0,36,1) 0%, rgba(18,53,91,1) 38%, rgba(231,57,74,1) 100%);
}

.whiteBgSecondaryButton {
  background-color: #be525f;
  margin-right: 12px;
}

.emptyState {
  margin: auto;
  text-align: center;
  font-weight: 800;
  letter-spacing: .1em;
  padding: 200px;
}